blueprint.json           export-ignore
/.github/                export-ignore

/.agents export-ignore
/.claude export-ignore
/AGENTS.md export-ignore
/CLAUDE.md export-ignore

/codecov.yml export-ignore
/coverage.xml export-ignore
/.phpunit.cache export-ignore
/.phpunit.result.cache export-ignore
/test/ export-ignore
